@import '~highlight.js/styles/atom-one-dark.css';

.App {
  height:100%;
  
  background-color:#fafbfc;
}
body {
  box-sizing: border-box;
}
a{
  color:black;
  text-decoration: none;
}
Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background: rgb(73,79,82);
  color: white;
}

.nav-links {
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
